{% include base_path %}

<div class="publication-list-compact">
  {% assign homepage_publication_order = "preprints,conferences,manuscripts" | split: "," %}
  {% for category_key in homepage_publication_order %}
    {% assign category = site.publication_category[category_key] %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category_key %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h3>{{ category.title }}</h3>
        {% assign title_shown = true %}
      {% endunless %}
      <p class="publication-list-compact__item">
        <strong><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></strong><br />
        {% include highlight-publication-author.html text=post.authors %}<br />
        <em>{{ post.venue_short | default: post.venue }}</em>, {{ post.date | default: "1900-01-01" | date: "%Y" }}
        {% if post.paperurl %}
          [<a href="{{ post.paperurl }}">paper</a>]
        {% endif %}
      </p>
    {% endfor %}
  {% endfor %}
</div>
